@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 90% !important;
	font-size: large;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 0px;
	margin-top: 10px;
}

.homepage-works {
	flex-basis: auto;
	padding-top: 30px;
	margin-left: -25px;
	margin-right: -25px;
}

@media (max-width:600px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; 
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		margin-top: 200px;
		width: 100% ;
		font-size:30px !important;
		
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}
	
	.homepage-works{
		padding-left: 15px;
		padding-right: 15px;
	}	
	.homepage-projects {
		flex-basis: auto;
	}
	
}
/* From Uiverse.io by vinodjangid07 */ 
.homepage-btn-download {
	width: 180px;
	height: 50px;
	border: none;
	border-radius: 20px;
	background-color: #F5B301;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  }
  .homepage-btn-download{
	display: flex;
  }
  .homepage-btn-icon-svg {
	fill: #2A2E34;
  }
  
  .homepage-btn-download:hover .homepage-btn-text{
	opacity: 1;
	transition-duration: .3s;
	color: #F5B301!important;
  }
  
  .homepage-btn-download:hover {
	background-color: #2A2E34;
	transition-duration: .3s;
  }
  
  .homepage-btn-download:hover .homepage-btn-icon-svg-border {
	border-bottom: 2px solid rgb(235, 235, 235);
	border-left: 2px solid rgb(235, 235, 235);
	border-right: 2px solid rgb(235, 235, 235);
  }
  
  .homepage-btn-download:hover .homepage-btn-icon-svg {
	fill: #F5B301;
	animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-top {
	0% {
	  transform: translateY(-10px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateY(0px);
	  opacity: 1;
	}
  }
  
