@import "/src/data/styles.css";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #2b2b2b; /* Darker background for scrollbar track */
}

::-webkit-scrollbar-thumb {
	background-color: #5c5c5c; /* Slightly lighter for the scrollbar thumb */
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #7a7a7a; /* Lighter hover color */
}

body {
	font-family: var(--primary-font);
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
}

.page-content {
	background-color: var(--bg-color);
	position: relative;
	color: var(--text-color);
	min-height: 100vh;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	color: var(--text-color);
	font-family: var(--secondary-font);
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -0.02em;
	width: 100%;
}

.subtitle {
	padding-top: 10px;
	color: var(--quaternary-color);
	font-size: 16px;
	line-height: 1.75;
	width: 100%;
	margin-top: 15px;
}

.page-footer {
	position: relative;
	margin-top: 60px;
	padding-bottom: 40px;
}

.page-footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-top: 1px solid var(--border-color);
}

@media (max-width: 1024px) {
	.content-wrapper {
		max-width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 640px) {
	.title {
		font-size: 32px;
	}
	
	.subtitle {
		font-size: 14px;
	}
}