:root {
	/* ------- colors ------- */
	--primary-color: #1E2328;
	--secondary-color: #2A2E34;
	--tertiary-color: #F5B301;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}